%html
  %body{ :style => "background-color: yellow" }
    %center
      %h2 and the winner is:
      %h1
        %marquee{ :width => "75%" }
          %img{ :src => "images/gator_walking.gif" }
          = @name + "... "
          %small= @zinger
          %img{ :src => "images/gator_laying.gif" }
